.message {
  margin: 10px;
  padding: 12px 18px 12px 18px;
  max-width: 50%;
  border-radius: 20px;

  p {
    margin: 0;
  }
}

.fromUser {
  float: left;
  margin-left: 15px;
  background-color: #e6e6e6;
}

.fromBot {
  float: right;
  margin-right: 15px;
  background-color: #36bc98;
  color: #fff;
}
