.task {
  text-align: left;
}

.header_id {
  font-size: 20px;
  font-weight: 300;
}

.header_when {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 100;
  color: #888;

  &.soon {
    font-weight: 300;
    color: #B0140D;
  }
}

.line {
  display: block;
  font-weight: 400;

  span {
    color: #888;
    font-weight: 200;
  }
}

.action {
  display: block;
  margin-top: 5px;
  border-left: 4px solid #90E9E1;
  padding: 10px;
  height: 100px;
}

textarea.action {
  width: 100%;
  height: 100px;
}

.toggle {
  display: block;
  position: absolute;
  top: 15px;
  right: 25px;

  &:global(.react-toggle--checked) {

    :global(.react-toggle-thumb) {
      border-color: #56C0B2;
    }

    :global(.react-toggle-track) {
      background-color: #56C0B2 !important;
    }
  }
}

.buttons {
  text-align: right;
  padding-top: 10px;

  button {
    width: 100px;
    margin-left: 5px;
  }

  :global(.btn-success) {
    color: #fff;
    background-color: #4cbeb9;
    border-color: #4cbeb9;
    transition: background-color ease-in-out .15s;

    &:hover {
      background-color: #46B0AC;
      border-color: #46B0AC;
    }
  }
}
