.sidebar {
  background-color: white;
  height: 660px;
  min-width: 320px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  .header {
    height: 60px;
    border-bottom: solid 1px #c1c1c1;

    h3 {
      display: block;
      float: left;
      margin-top: 0;
      color: #a0a0a0;
      font-size: 16px;
      font-weight: 500;
      padding: 4px 7px 0px 0px;
    }

    .allPaused {
      width: 160px;
      height: 100%;
      float: left;
      padding-top: 18px;
      padding-left: 10px;
    }

    .filter {
      position: absolute;
      top: 18px;
      right: 24px;
    }

    .filter:hover {
      cursor: pointer;
    }
  }

  .users {
    height: 600px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
  }

  .toggle {
    &:global(.react-toggle--checked) {

      :global(.react-toggle-thumb) {
        border-color: #56C0B2;
      }

      :global(.react-toggle-track) {
        background-color: #56C0B2 !important;
      }
    }
  }
}
