.sidebar {
  background-color: blue;
  height: 660px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: solid 1px #000;

  .header {
    height: 60px;
    border-bottom: solid 1px #000;
  }

  .users {
    height: 600px;
    background-color: purple;
    border-bottom-left-radius: 10px;

    overflow-y: auto;
  }
}
