:global(.CodeMirror) {
  height: 622px !important;
}

:global(.CodeMirror-gutters) {
  background-color: white !important;
  border-right: none !important;
}

:global(.CodeMirror-gutter-elt) {
  color: #58d1b0 !important;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  button {
    width: 50px;
    font-size: 16px;
    margin: 5px;
  }
}

.headerRow {
  margin-bottom: 0px;
}

.header {
  padding-right: 20px;
  button + button {
    margin-left: 10px;
  }
}

.fileSelection {
  height: 602px;
  li > a {
    padding: 8px;
    color: #a6a6a6;
  }
}

:global(.active) {
  background-color: #dedede;
}

.fileInFolder > a {
  padding-left: 20px !important;
}

.folderText {
  padding-left: 10px;
}

.simulationColumn {
  border-radius: 3px;
  background-color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0px;

  form>div {
    margin: 0;

    span {
      width: 100%;
    }
  }
}

.filesColumn {
  border-radius: 3px;
  background-color: #fdfdfd;
  border-right: 1px solid #efefef;
  padding: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.codeColumn {
  padding: 0px;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: white;
}

textarea.discussion {
  background-color: #ffffff !important;
  // font-family: 'Oswald', sans-serif;
  border: none;
  height: 587px;
  border: none;
  overflow: auto;
  outline: none !important;
  box-shadow: none !important;
  resize: none;
}

textarea.simulationRunning {
  background-color: #fefd92 !important;
}

.sendText {
  height: 35px;
  width: 100%;
  border-radius: 0px;
  background-color: white !important;
  border: none;
}

.dirty {
  background-color: #ff5252;
  color: white;
}
