.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  li > a {
    padding: 8px !important;
  }
}

.mainPanel {
  border-radius: 0px;
  border-style: solid;
  border-color: #e4e0e0;
  border-width: 1px;
}

.scheduledTable {
  text-align: center;
  tbody > tr > td {
    vertical-align: middle;
    button {
      margin: 1px;
    }
  }

  thead > tr > th {
    text-align: center;
  }

  .progress {
    text-align: left;
  }
}

.scheduledDate {
  text-align: left;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  margin-top: 4px;
  margin-right: 6px;
  margin-left: 4px;
}

.emptyMessage {
  width: 100%;
  text-align: center;
}
