.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  li > a {
    padding: 8px !important;
  }
}

.mainPanel {
  border-radius: 0px;
}

.scheduledTable {
  text-align: center;
  tbody > tr > td {
    vertical-align: middle;
  }

  thead > tr > th {
    text-align: center;
  }
}
