$color-green: #40BD94;
$color-gray: #B8B6B9;
$color-white: #fff;

@mixin bubble() {
  background-color: $color-green;
  color: $color-white;
  border-radius: 1.3em;
  display: inline-block;
  padding: 6px 12px;

  min-height: 32px;
  min-width: 50px;
}

.component {
  padding-bottom: 5px;
  position: relative;

  .text {
    @include bubble();
  }

  .typing {
    color: $color-gray;
    position: absolute;
    top: 7px;
    right: 10px;
  }

  .quickReplies {
    padding-top: 5px;

    button {
      @include bubble();
      margin-right: 5px;
      opacity: 1;
      min-width: 100px;
      background-color: $color-green;
      color: $color-white;

      &:hover {
        background-color: $color-green;
        opacity: 0.8;
      }
    }
  }
}