.conversation {
  background-color: white;
  border-top-right-radius: 5px;

  .header {
    position: relative;
    height: 60px;
    border-bottom: solid 1px #c1c1c1;

    h3 {
      color: #666666;
      margin-top: 0;
      text-align: center;
      padding-top: 18px;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .messages {
    position: relative;
  }

  .innerMessages {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
  }

  .toggle {
    position: absolute;
    right: 10px;
    top: 18px;

    &:global(.react-toggle--checked) {

      :global(.react-toggle-thumb) {
        border-color: #56C0B2;
      }

      :global(.react-toggle-track) {
        background-color: #56C0B2 !important;
      }
    }
  }
}
