.editorContainer {

}

.editor {
  width: 400px;
  border: 1px solid #aaa;
  padding: 5px;
  margin: 10px;
  display: block;
}

.entity-label {
  background-color: blue;
  cursor: pointer;
  color: white;

  &:hover {
    background-color: #0559ff;
  }
}
