$bg-color: #FFFFFF;
$bot-bg-color: #ecf0f1;
$bot-text-color: #101010;
$client-bg-color: #46cba0;
$client-text-color: #FFFFFF;

.messages {
  position: relative;
  height: 100%;
  overflow-y: auto !important;

  background-color: $bg-color;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.messages.typing {
  height: calc(100% - 40px);
}

.messages > div {
  position: absolute;
  width: 100%;
  max-height: 100%;
  bottom: 0;

  div:first-child {
    margin-top: 10px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  height: 42px;
  text-align: center;
  justify-content: center;
}

.header h1 {
  font-size: 18px;
}

.composer {
  display: flex;
  height: 50px;
  border-top: 1px solid #ddd;
  background-color: white;
}

.composer input {
  background-color: $bg-color;
  border: 0;
  flex: 1;
  padding: 10px;
  outline: none;
  background-color: #fbfbfb;
  height: 52px;
}

.list {
  height: 100%;
  flex-direction: row;
  align-items: flex-start; /* align items in Cross Axis */
  align-content: flex-start; /* Extra space in Cross Axis */
  overflow-y: auto;
}

.message {
  clear: both;
  white-space: pre-line;
  display: inline-block;
  float: left;
  background-color: $bot-bg-color;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
  position: relative;

  max-width: 80%;
  border-radius: 20px;
  padding: 10px 16px;
}

.message img {
  max-width: 100%;
  border-radius: 5px;
}

.you {
  background-color: $client-bg-color;
  color: $client-text-color;

  float: right;
  position: relative;
  right: 0;
}

.fadeInUp-enter {
  opacity: 0.01;
  transform: translate(0px, 10px);
}

.fadeInUp-enter.fadeInUp-enter-active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.typing {
  text-align: center;

  .spinner {
    color: #58d1b0;

    div {
      width: 10px;
      height: 10px;
    }
  }
}

.composer div {
  border-radius: 10px;
  cursor: pointer;
  margin: 2.5px;
  -webkit-user-select: none;
}

.composer div img {
  padding: 5px 15px;
}

.composer .hidden {
  display: none;
  background-color: $bg-color;
}

.send {
  width: 50px;
  background-color: $client-bg-color;
  color: $client-text-color;
  border-radius: 0 !important;
  height: 40px;
  border: none;
  line-height: 40px;
  font-size: 30px;
  display: block;
  text-align: center;
}

.newConvo {
  .text {
    font-size: 16px;
    color: #aaa;
    text-align: center;
    padding: 40px;
  }

  .sayHi {
    margin: auto;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    margin-top: 10px;
    
    border-radius: 50px;

    cursor: pointer;
    color: #46cba0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    
    border: 1px solid #46cba0;
    background-color: white;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;

    &:hover {
      background-color: #46cba0;
      color: white;
    }

    &:active {
      background-color: #46cba0;
      color: white;
    }
  }
}
